@model WebApplication2.Models.TBLRANDEVU

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>RANDEVU AL</title>

<div class="menu-responsive"><a href="#"> <b>sam martin</b></a> <a id="menu-icon" class="but" href="#"><span class="ti-menu"></span> </a></div>
<header id="left-header" class="header">
    <nav id="menu" class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"> <img id="logo_imgg" src="../images/logo.png" alt=""> </a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul id="navbar" class="nav navbar-nav">
                <li class="active">@Html.ActionLink("RANDEVU AL", "Create")</li>
                <li>@Html.ActionLink("RANDEVULARIM", "../UyeRandevu/Randevular")</li>
                <li>@Html.ActionLink("ANASAYFAYA DÖN", "../Home/HomePage")</li>
            </ul>
        </div>
    </nav>
    <div class="menu-footer">
        <div class="social">
            <ul>
                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://tr.linkedin.com/"><i class="fa fa-linkedin"></i> </a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>© BAR-BER </p>
        </div>
    </div>
</header>

<center><h2 style="color:black; padding-left:210px;">RANDEVU AL</h2></center>
<script type="text/javascript" src="~/Content/js/jquery.min.js"></script>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker').datetimepicker({
            format: 'DD/MM/YYYY',
            minDate: moment().add(1, 'd').toDate()
        });
    });
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.RANDEVUTARIH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>RANDEVU TARİHİ</p>
                @Html.EditorFor(model => model.RANDEVUTARIH, new { htmlAttributes = new { @class = "form-control", @id = "datetimepicker", @required = ("") } })
                @Html.ValidationMessageFor(model => model.RANDEVUTARIH, "", new { })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RANDEVUSAATID, "RANDEVU SAATİ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>RANDEVU SAATİ</p>
                @Html.DropDownList("RANDEVUSAATID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RANDEVUSAATID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KUAFORID, "KUAFÖR SEÇİNİZ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p>KUAFÖR SEÇİN</p>
                @Html.DropDownList("KUAFORID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KUAFORID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="RANDEVU AL" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("GERİ DÖN", "Index")
</div>

<script type="text/javascript" src="~/Content/js/jquery.min.js"></script>