@model IEnumerable<WebApplication2.Models.TBLRANDEVU>

@{
    ViewBag.Title = "Randevularım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RANDEVULARIM</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TBLKUAFOR.KUAFORAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBLRANDEVUSAAT.RANDEVUSAATLERI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBLUYE.AD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RANDEVUTARIH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TBLKUAFOR.KUAFORAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBLRANDEVUSAAT.RANDEVUSAATLERI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBLUYE.AD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RANDEVUTARIH)
        </td>
    </tr>
}

</table>
